@import "variables.css";

.content-grid {
  --main-content-header-size: 5ch;

  display: grid;
  grid-template-columns: [sidebar] 1fr [main-content] 3fr;
  grid-template-rows: calc(100svh - 2 * var(--margin-inline));

  & > .sidebar {
    grid-column: sidebar;
  }

  & > .main-content {
    grid-column: main-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:
      [full-height-start header] var(--main-content-header-size)
      [content] 1fr
      [footer] 15ch
      [full-height-end];

    & > .full-height {
      grid-row: full-height;
    }

    & > .header {
      grid-row: header;
    }

    & > .content {
      grid-row: content;
    }

    & > .footer {
      grid-row: footer;
    }
  }

  @media (width >= 1080px) {
    & > .main-content > .header > .sidebar-toggle {
      display: none;
    }
  }

  @media (width < 1080px) {
    & {
      position: relative;
      grid-template-columns: [main-content] 1fr;
    }

    & > .sidebar {
      position: absolute;
      top: var(--main-content-header-size);
      grid-column: main-content;
      width: calc(100svw - 2 * var(--margin-inline));
      height: calc(100svh - var(--main-content-header-size) - 2 * var(--margin-inline));

      &[data-is-open="false"] {
        display: none;
      }
    }
  }
}