@import "variables.css";

.content-grid {
  display: grid;
  grid-template-columns: [full-width-start side-panel] minmax(25ch, 0.25fr) [main-panel] 1fr [full-width-end];
  grid-template-rows: calc(100svh - 2 * var(--margin-inline));
  grid-column-gap: var(--padding-inline);

  &not([data-side-panel-collapsed="true"]) {
    & > .main-panel {
      grid-column: main-panel;
    }

    & > .side-panel {
      grid-column: side-panel;
    }
  }

  &[data-side-panel-collapsed="true"] {
    & > .main-panel {
      grid-column: full-width;
    }

    & > .side-panel {
      display: none;
    }
  }

  & > .side-panel,
  & > .main-panel {
    display: grid;
    grid-template-rows: [full-height-start header] 5ch [main] 1fr [footer] 10ch [full-height-end];

    & > .full-height {
      grid-row: full-height;
    }

    & > .header {
      grid-row: header;
      display: grid;
      grid-template-columns: [full-width-start] 5ch 1fr [full-width-end];
      grid-auto-rows: 5ch;

      & > .full-width {
        grid-column: full-width;
      }
    }

    & > .main {
      grid-row: main;
      display: grid;
      grid-template-columns: [full-width-start] var(--padding-inline) [message] 1fr var(--padding-inline) [full-width-end];
      grid-auto-rows: max-content;
      overflow-y: scroll;

      &:is(ol), &:is(menu) {
        list-style: none;
        padding: 0;
      }

      & > .full-width {
        grid-column: full-width;
      }

      & > .message {
        grid-column: message;
      }
    }

    & > .footer {
      grid-row: footer;
      display: grid;

      &.chat {
        grid-template-columns: [full-width-start] 1fr 10ch [full-width-end];
        grid-column-gap: var(--padding-inline);
      }

      &.menu {
        grid-template-columns: 1fr;
        grid-auto-rows: 5ch;
      }
    }
  }
}
