@import "variables.css";

.content-grid {
  --padding-size: minmax(var(--padding-inline), 1fr);
  --content-size: min(100% - (var(--padding-inline) * 2), var(--content-max-width));
  --breakout-size: minmax(0, calc((var(--breakout-max-width) - var(--content-size)) / 2));

  display: grid;
  grid-template-columns:
    var(--padding-size) [breakout-start] var(--breakout-size)
    [content-start] var(--content-size) [content-end]
    var(--breakout-size) [breakout-end] var(--padding-size);

  & > .content {
    grid-column: content;
  }

  & > .breakout {
    grid-column: breakout;
  }
}
