:root {
  --font-family: system-ui, sans-serif;

  --padding-inline: 1ch;
  --margin-inline: var(--padding-inline);

  --border-width: 0.2ch;
  --border-radius: 2.3ch;

  --content-max-width: 70ch;
  --breakout-max-width: 85ch;

  --theme-hue: 220;
  --theme-saturation: 30%;
}
